$white: #fff;
$black: #000;
$silver: #cccccc;
$alabaster: #000000;
$ebonyClay: #25303f;
$blackPearl: #ff0000;
$tundora: #444444;
$spindle: #b0c2e6;
$cornflowerBlue: #4981ef;
$pigeonPost: #ffffff;
$steelBlue: #FF7B00;
$lynch: #ffffff;
$calypso: #30698c;


